{% extends 'master.html' %}

{% block page-title %}Crias{% endblock%}

{% block breadcrumbs %}
<div class="breadcrumb">
    <h1>Crias</h1>
    <ul>
        <li><a href="{% url "crias" %}">Inicio</a></li>
        <li>Listado</li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <div class="row mb-4">
            <div class="col-md-12 mb-3">
                <div class="card text-left">
                    <div class="card-header text-right bg-transparent">                    
                        <a href="{% url "crias.add" %}" class="btn btn-primary btn-md btn-rounded m-1"><i class="i-Add text-white mr-2"></i> Agregar</a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mb-3">Listado</h4>
                        <p>Resumen de la información referente</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">F. Nacimiento</th>
                                        <th scope="col">Edad</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Sexo</th>
                                        <th scope="col">Nacimiento</th>
                                        <th scope="col">Madre</th>
                                        <th scope="col">Destino</th>                                        
                                        <th scope="col">Creado</th>
                                        <th scope="col">Actualizo</th>
                                        <th scope="col">Usuario</th>
                                        {% if 'crias.change_cria' in perms %}
                                        <th scope="col">Acciones</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cria in crias %}
                                    <tr data-id="{{ cria.id }}">
                                        <td>{{ cria.id }}</td>
                                        <td>{{ cria.fecha_nacimiento }}</td>
                                        <td>{{ cria.fecha_nacimiento|timesince:current_time }}</td>
                                        <td>{{ cria.nombre|default_if_none:'' }}</td>
                                        <td>{{ cria.sexo }}</td>
                                        <td>{{ cria.nacimiento }}</td>
                                        <td>{{ cria.vaca.nombre }}</td>
                                        <td>
                                            {% if cria.vaca_madura_id is not None %}
                                                <a href="{% url "vacas.update" cria.vaca_madura_id %}" class="text-success mr-2">
                                                    Pasó a Vaca
                                                </a>
                                            {% else %}
                                                {{ cria.destino }}
                                            {% endif %}
                                        </td>
                                        <td>{{ cria.created_at|date:"Y-m-d H:i:s" }}</td>
                                        <td>{{ cria.updated_at|date:"Y-m-d H:i:s" }}</td>
                                        <td>{{ cria.usuario.first_name }} {{ cria.usuario.last_name }}</td>
                                        {% if 'crias.change_cria' in perms %}
                                        <td>
                                            <a href="{% url "crias.update" cria.id %}" class="text-success mr-2">
                                                <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                            </a>
                                            <a onclick="confirm_delete('{% url "crias.delete" cria.id %}', {{ cria.id }})" href="#" class="text-danger mr-2">
                                                <i class="nav-icon i-Close-Window font-weight-bold"></i>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col-->

        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $('.table').DataTable({
        order: [[ 0, 'asc' ]],
        language: {
            url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
            buttons: {
                colvisRestore: "- Restaurar Columnas -",
                copy: 'Copiar',
                copyTitle: 'Ajouté au presse-papiers',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d lignes copiées',
                    1: '1 ligne copiée'
                }
            }
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'colvis',
                text: "Columnas",
                postfixButtons: [ 'colvisRestore' ]
            }
        ],
    });
</script>
{% endblock %}