{% load static %}
<div class="card-body">
    <h4 class="card-title mb-3">Listado</h4>
    <p>Resumen de la información referente</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">F. Compra</th>
                    <!--th scope="col">Vaca</th-->
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Costo</th>
                    <!--th scope="col">Creado</th>
                    <th scope="col">Actualizo</th>
                    <th scope="col">Usuario</th-->
                    {% if 'alimento.change_alimento' in perms %}
                    <th scope="col">Acciones</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for alimento in alimentos %}
                <tr data-id="{{ alimento.id }}">
                    <td>{{ alimento.id }}</td>
                    <td>{{ alimento.fecha_suministro }}</td>
                    <!--td>{{ alimento.vaca.nombre }}</td-->
                    <td>{{ alimento.nombre }}</td>
                    <td>{{ alimento.cantidad }}</td>
                    <td>{{ alimento.costo }}</td>
                    <!--td>{{ alimento.created_at|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ alimento.updated_at|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ alimento.usuario.first_name }} {{ alimento.usuario.last_name }}</td-->
                    {% if 'alimento.change_alimento' in perms %}
                    <td>
                        <a href="{% url "alimento.update" alimento.id %}" class="text-success mr-2">
                            <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                        </a>
                        <a onclick="confirm_delete('{% url "alimento.delete" alimento.id %}', {{ alimento.id }})" href="#" class="text-danger mr-2">
                            <i class="nav-icon i-Close-Window font-weight-bold"></i>
                        </a>
                    </td>
                    <td>
                        <button type="button" data-id="{{alimento.id}}" class="btn btn-outline-primary btn-sm btn_alimento">
                            Consumo
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    
    
    $('.table').DataTable({
        order: [[ 0, 'asc' ]],
        language: {
            url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
            buttons: {
                colvisRestore: "- Restaurar Columnas -",
                copy: 'Copiar',
                copyTitle: 'Ajouté au presse-papiers',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d lignes copiées',
                    1: '1 ligne copiée'
                }
            }
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'colvis',
                text: "Columnas",
                postfixButtons: [ 'colvisRestore' ]
            }
            
        ],
    });
    $(".btn_alimento").on('click', function(e){
        $("#alimento_id").val($(this).data('id'));
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "ajax_get_alimento" %}',
            data: {
                'alimento_id': $(this).data('id'),
            },
            type: 'POST',
            success: function (data) {
               $("#ecantidad").val(data.o_quantity);
               $("#name").val(data.name);
            }
        });
        $("#alimentomodal").modal();
    })
</script>
