{% extends 'master.html' %}

{% load extras %}

{% block page-title %}Información de la Preñez{% endblock%}

{% block breadcrumbs %}
<div class="breadcrumb">
    <h1>Información de la Preñez</h1>
    <ul>
        <li><a href="{% url "preñez" %}">Inicio</a></li>
        <li>Editar</li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <div class="card my-3">
            <form method="post" action="{% url "preñez.update" preñez.id %}">
                {% csrf_token %}
                <h5 class="card-header">Detalle</h5>
                <div class="card-body">
                    <div class="form-group row">                                
                        <div class="col-lg-3">
                            <label for="fecha_preñez">Fecha de Preñez<span style="color: red;">(*)</span></label>
                            <input type="text" class="form-control pickadate" id="fecha_preñez" name="fecha_preñez" required value="{{ preñez.fecha_preñez|date:"Y-m-d" }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="vaca_id">Vaca<span style="color: red;">(*)</span></label>
                            <select class="form-control" id="vaca_id" name="vaca_id" required>
                                <option selected disabled>--</option>
                                {% for vaca in vacas %}
                                <option value="{{ vaca.id }}" {% if preñez.vaca_id == vaca.id %} selected {% endif %}>{{ vaca.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">                                
                        <div class="col-lg-3">
                            <label for="metodo">Método<span style="color: red;">(*)</span></label>
                            <select class="form-control" id="metodo" name="metodo" required>
                                <option selected disabled>--</option>
                                <option value="toro" {% if preñez.metodo == "Toro" %} selected {% endif %}>Toro</option>
                                <option value="pajuela" {% if preñez.metodo == "Pajuela" %} selected {% endif %}>Pajuela</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="metodo_id">Elección<span style="color: red;">(*)</span></label>
                            <select class="form-control" id="metodo_id" name="metodo_id" required>
                                <option selected disabled>--</option>
                                {% for seleccion in selecciones %}
                                <option value="{{ seleccion.id }}" {% if preñez.seleccion_id == seleccion.id %} selected {% endif %}>{{ seleccion.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="mc-footer">
                        <div class="row text-right">
                            <div class="col-lg-12 ">
                                <button type="submit" class="btn btn-primary btn-rounded m-1">Guardar</button>
                                <a href="{% url "preñez" %}" class="btn btn-outline-secondary btn-rounded m-1">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}