{% extends 'master.html' %}

{% block page-title %}Pajuelas{% endblock%}

{% block breadcrumbs %}
<div class="breadcrumb">
    <h1>Pajuelas</h1>
    <ul>
        <li><a href="{% url "pajuelas" %}">Inicio</a></li>
        <li>Listado</li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <div class="row mb-4">
            <div class="col-md-12 mb-3">
                <div class="card text-left">
                    <div class="card-header text-right bg-transparent">                    
                        <a href="{% url "pajuelas.add" %}" class="btn btn-primary btn-md btn-rounded m-1"><i class="i-Add text-white mr-2"></i> Agregar</a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mb-3">Listado</h4>
                        <p>Resumen de la información referente</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Raza</th>
                                        <th scope="col">F. Compra</th>
                                        <th scope="col">Costo</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Creado</th>
                                        <th scope="col">Actualizo</th>
                                        <th scope="col">Usuario</th>
                                        {% if 'pajuelas.change_pajuela' in perms %}
                                        <th scope="col">Acciones</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for pajuela in pajuelas %}
                                    <tr data-id="{{ pajuela.id }}">
                                        <td>{{ pajuela.id }}</td>
                                        <td>{{ pajuela.nombre }}</td>
                                        <td>{{ pajuela.raza }}</td>
                                        <td>{{ pajuela.fecha_compra }}</td>
                                        <td>{{ pajuela.costo }}</td>
                                        <td>{{ pajuela.estado }}</td>
                                        <td>{{ pajuela.created_at|date:"Y-m-d H:i:s" }}</td>
                                        <td>{{ pajuela.updated_at|date:"Y-m-d H:i:s" }}</td>
                                        <td>{{ pajuela.usuario.first_name }} {{ pajuela.usuario.last_name }}</td>
                                        {% if 'pajuelas.change_pajuela' in perms %}
                                        <td>
                                            <a href="{% url "pajuelas.update" pajuela.id %}" class="text-success mr-2">
                                                <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                            </a>
                                            <a onclick="confirm_delete('{% url "pajuelas.delete" pajuela.id %}', {{ pajuela.id }})" href="#" class="text-danger mr-2">
                                                <i class="nav-icon i-Close-Window font-weight-bold"></i>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col-->

        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $('.table').DataTable({
        order: [[ 0, 'asc' ]],
        language: {
            url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
            buttons: {
                    colvisRestore: "- Restaurar Columnas -",
                    copy: 'Copiar',
                copyTitle: 'Ajouté au presse-papiers',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d lignes copiées',
                    1: '1 ligne copiée'
                }
                }
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'colvis',
                text: "Columnas",
                postfixButtons: [ 'colvisRestore' ]
            }
        ],
    });
</script>
{% endblock %}